doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Sakakibara Yuuki

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Sakakibara Yuuki
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Sakakibara
                        span.text-primary Yuuki
                    .subheading.mb-5
                        | ='Tokorozawa-shi, Saitama-ken, Japan CO ***** · (080) ****-**** ·'
                        a(href='mailto:sakakilabo0000@gmail.com') sakakilabo0000@gmail.com
                    p.lead.mb-5
                        | I have experience developing high-level software using machine learning. I provide solid solutions to companies through research and experimental designs.
                    .social-icons
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/sakakibara-yuuki')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 JUNIOR MACHINE LEARNING ENGINEER
                            .subheading.mb-3 XXX Systems
                            p
                                | Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                        .flex-shrink-0
                            span.text-primary March 2022 - February 2024

                    // .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    //     .flex-grow-1
                    //         h3.mb-0 Web Developer
                    //         .subheading.mb-3 Intelitec Solutions
                    //         p
                    //             | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                    //     .flex-shrink-0
                    //         span.text-primary December 2011 - March 2013
                    //
                    // .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    //     .flex-grow-1
                    //         h3.mb-0 Junior Web Designer
                    //         .subheading.mb-3 Shout! Media Productions
                    //         p
                    //             | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                    //     .flex-shrink-0
                    //         span.text-primary July 2010 - December 2011
                    //
                    // .d-flex.flex-column.flex-md-row.justify-content-between
                    //     .flex-grow-1
                    //         h3.mb-0 Web Design Intern
                    //         .subheading.mb-3 Shout! Media Productions
                    //         p
                    //             | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                    //     .flex-shrink-0
                    //         span.text-primary September 2008 - June 2010

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Saitama University Graduate School of Science and Engineering
                            .subheading.mb-3 Mathematics, Electronics and Informatics Division
                            div Department of Information and Computer Sciences
                        .flex-shrink-0
                            span.text-primary April 2016 - March 2022
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/python/#3776AB', alt='Python', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/pytorch/#EE4C2C', alt='Pytorch', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/sphinx/#000000', alt='sphinx', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/C/#A8B9CC', alt='C', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/cplusplus/#00599C', alt='Cplusepluse', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/javascript/#F7DF1E', alt='javascript', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/nodedotjs/#5FA04E', alt='nodejs', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/svelte/#FF3E00', alt='svelte', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/html5/#E34F26', alt='html5', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/css3/#1572B6', alt='css3', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/linux/#FCC624', alt='linux', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/archlinux/#FCC624', alt='archlinux', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/docker/#2496ED', alt='docker', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/cisco/#1BA0D7', alt='cisco', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/raspberrypi/#A22846', alt='raspberrypi', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/vim/#019733', alt='vim', height='60', width='60')
                        li.list-inline-item
                            img(src='https://cdn.simpleicons.org/neovim/#57A143', alt='nvim', height='60', width='60')
                    .subheading.mb-3 Special Skill
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Machine-learning, Deep-learning, Reinforcement-learning
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Technology across multiple disciplines
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I am knowledgeable about the field of machine learning, called reinforcement learning, and have previously worked on that technology. I am broadly interested in machine learning and its business applications, and have researched what technologies are used in Youtube, Netflix, Amazon, etc. I have a strong interest in machine learning and finance, and spend a lot of time reading papers on Fintech and implementing them.
                    p.mb-0
                        | I have a strong interest in machine learning and finance and spend a lot of time reading and implementing papers on Fintech. I also like mathematics and read a lot, especially books on geometry.
            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Fundamental Information Technology Engineer Examination
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | JDLA Deep Learning for ENGINEER

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
